header
{
    background-color: rgb(8, 54, 46);
    color:white;
}
p{ 
    width: 100vw; 
    height: 10vh; 
    font-size: 1.5em;

   } 
   h1
   { 
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}